/* 
   copyright CC0
   Public domain
*/

body {
	background-color:#fafafa;
}
.page-content {
	max-width: 768px;
	margin:0 auto;
	padding:0 6px;
}
.page__hdr {
padding:32px 0 24px 0;
}
.page__hdr h1 {
	font-size:72px;
	line-height: 1;
	color:#333;
}
footer {
	margin: 32px auto;
	max-width: 1024px;
	text-align: center;
}
footer p {
	color:#555;
}

.row {
	max-width: 768px;
	margin:12px auto 24px auto;
	padding:12px;
	background-color:#fff;
	box-shadow: 0 2px 2px rgba(0,0,0,.16);
	border-radius: 4px;
	min-height:72px;
}